*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url(/image/danielle-cerullo-CQfNt66ttZM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.introd {
    position: relative;
    overflow: hidden;
}
nav{
    overflow: hidden;
    text-align: center;
    background: lightblue;
    padding: 0;
    justify-content: space-evenly;
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.log{
    display: flex;
    align-items: center;
}
.log img{
   padding: 10px;
}
.navbar_toggle{
    display: none;
}
   
a{
    text-decoration: none;
}
.navlinks{
    list-style: none;
    display: flex;
    justify-content: center;
    
}

.navlinks li{
    display: inline-block; 
    padding: 10px;
    text-align: center;
}
.navlinks li a{
    color: tomato;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.navlinks a:hover{
    color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    background-color: blue;
    transition: 0.3s;
}
.right{
    display: flex;
    margin-left: auto;
    margin: 10px;
}

.serach{
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.social{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    font-size: 26px;
    letter-spacing: 5px;
}

.ser {
    border: none;
    margin-left: 10px;
    padding: 10px;
    outline: none;
    border-radius: 8px;
    background: orange;
    color: aliceblue;
    font-size: 12px;
    cursor: pointer;
    text-transform: uppercase;
}

video {
    position: absolute;
    object-fit: cover;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    opacity: 0.89;
    outline: none;
    padding-top: 2px;
    cursor: pointer;
}

.content {
    color: #f1f1f1;
    text-align: center;
    padding: 100px;
    top: 50%;
    bottom: 50%;
    justify-content: space-evenly;

}
h1{
    color: red;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-shadow: #f1f1f1 solid 3px;
}

h2{
    color: aqua;
    text-transform: uppercase;
    padding: 10px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.join{
    border-radius: 10px;
    padding: 12px;
    background: rebeccapurple;
    color: #f1f1f1;
    margin: 4px;
    text-transform: uppercase;
    font-size: 15px;
    outline: none;
}
.about {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background: url(./image/risen-wang-20jX9b35r_M-unsplash.jpg);
    margin: auto;
    position: relative;
    overflow: hidden;
    opacity: 0.90;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.who{
    width: 45%;
    float: left;
    padding: 10px;
    background: rgb(53, 188, 222);
    color: #f1f1f1;
    padding-left: 10px;
}

h3{
    text-align: center;
    color: blanchedalmond;
    text-transform: uppercase;
    font-size: 20px;
}

p{
    padding-left: 10px;
}

strong{
    color: rgb(194, 7, 147);
    text-transform: uppercase;
}
.carousel{
    width: 55%;
    text-align: center;
}
.learn{
    padding: 10px;
}
.more{
    padding: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    color: #f1f1f1;
    background: rgb(17, 24, 234);
}
.naker{
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 228, 196, 0.059);
}
.back{
    width: 50%;
}
.dest{
    background: rgba(240, 63, 63, 0.26);
    width: 50%;
    
}

.root h6, 
.root p{
    background: #0b0be0;
    color: #bbb;
    text-transform: uppercase;
    font-size: 20px;
    padding: 5px;
}

.dest h5 {
    padding: 10px;
    outline: none;
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
}
h6{
    background: #f1f1f1;
    padding: 5px;
}
.imgas img{
    border-radius: 50%;
    clip-path: circle(50%);
}
.Lorem{
    display: flex;
    justify-content: center;
}

.servics{
    display: flex;
    justify-content: space-between;
}
.our{
    width: 30%;
    background: rgb(186, 233, 186);
    padding: 10px;
    margin: 10px;
}
.our h4{
    text-align: center;
    color: #0b0be0;
    text-transform: uppercase;
    padding: 10px;
    
}
.grid{
    width: 70%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 10px;
    padding: 15px;
}
.grid p{
    color:#f1f1f1;
}
.gridItem {
    text-align: center;
}
.gridItem{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(255, 228, 196, 0.212);
    
}

.gridItem img{
    display: block;
    margin: 0 auto;
    width: 80px;
}
.gridItem p
.gridItem h5{
    margin: 0;
   
}
.gridItem h5{
    color: rgb(12, 129, 232);
    text-transform: uppercase;
    padding-top: 8px;
}
.equment{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.equment h1, .p{
    text-align: center;
    background: rgba(245, 222, 179, 0.489);
}
.p{
    color: aliceblue;
    font-size: 16px;
}


.side{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 15px;

}
.mySlides{
    display: block;
    margin: 0 auto;
    background: #f1f1f17a;
    text-align: center;
    font-size: 15px;
    color: rgba(0, 0, 255, 0.671);
}
.h{
    font-size: 18px;
    color: black;
    text-transform: capitalize;
}

.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
}
.mytestimonis {
    display: none;
    padding: 10px;
    text-align: center;
  
}

.testmonies h5{
    color: red;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
.clients h2{
    text-align: center;
}
  

.dot-container {
    text-align: center;
    padding: 20px;
    background: #ddd;
}
  
 
.dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb; 
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
  
.active, .dot:hover {
    background-color: #717171;
}
  

q {
    font-style: italic;
}
  
  
.author {
    color: cornflowerblue;
}

.faq-container{
    background: url(./image/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    opacity: 0.90;
    margin: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accordion h3{
    color: #ecf1f3;
    text-align: left;
    width: auto;

}
.accordion-content{
    padding: 0 18px;
    display: none;
    background-color: rgb(215, 26, 26);
    overflow: hidden;
    color: #ecf1f3;
    justify-content: center;
    align-items: center;
 
}

.accordion-title{
    cursor: pointer;
}

.accordion{
    background: blue;
    width: 50%;
    justify-content: center;
    margin: 4px;
    align-items: center;
    text-align: center;
}

.accordion-active{
    display: block;
}

.booking{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #e010109c;
    padding: 10px;
}
.form{
    
    padding: 10px;
    width: 50%;
    background: forestgreen;
}
.form-details{
    border: #f7f0f0 solid 1px;
    text-align: center;
    background: #f105052b;
    align-items: center;
    justify-content: space-evenly;
    
}
.active-hours{
    width: 50%;
    background: #ddd;
}
.active-hours h3{
    color: #cd4545;
}


input{
    padding: 10px;
    margin: 10px;
    color: whitesmoke;
    font-size: 18px;
    border-bottom: solid 1px ;
    background: transparent ;
    text-align: center;
    text-transform: uppercase;
}
.button{
    border-radius: 10px;
    padding: 12px;
    background: rebeccapurple;
    color: #f1f1f1;
    margin: 4px;
    text-transform: uppercase;
    font-size: 15px;
    outline: none;
}

.daysofopens{
    padding: 10px;
    margin: 5px;
    background: #1717177e;
}

table{
    background-color: rgba(176, 184, 193, 0.53);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    
}

table,  th, td{
    background: transparent;
   border-bottom: 2px solid rgba(33, 34, 34, 0.58);
   border-collapse: collapse;
   outline: none;
   color: #f4efef;
   text-transform: uppercase;
}

footer{
    background: #bbb;
}
.footer-top{
    background: blue;
    height: 110px;
    margin-top: 10px;
    text-align: center;

}
.row-contianer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}
.row-item h6{
    margin: 5px;
    color: #f6f0f0f9;
    font-size: 15px;
}
.row-item h4, h5, .g{
    color: white; 

}
.row-item ul li{
    list-style: none;
    color: white;
    cursor: pointer;
    display: inline-block;
}
footer h1 , h2, h3, h4, h5, h6{
    background: none;
}
.footer-bottom{
    height: 50px;
    text-align: center;
    background: green;
}
.footer-bottom, .g{
    margin: 0;
    padding-top: 15px;
    color: white;
}

@media only screen and (max-width: 768px) {
    .navlinks {
        display: none;
    }
    .navbar{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100vw;
      background-color: #19a7ca;
      font-size: 20px;
    }

    .navlinks li {
      width: 100%;
      height: 50px;
      font-size: 25px;
      justify-content: center;
      text-align: center;
      padding: 0%;
      
    }

    .navlinks li a {
        font-size: 18px;
    }
    .navbar_toggle {
        
        margin-right: 5%;
        font-size: 30px;
        color: #ffffff;
        background: transparent;
        border-color: transparent;
        transition: all 0.3s linear;
        cursor: pointer;
        display: block;
    }

    .right {
        flex-direction: column;
        align-items: center; 
        margin: 0;
    }

    .serach {
        padding: 10px;
    }

    .social {
        justify-content: center;
    }
    .show-nav{
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: flex-start;
    }
    .log{
        width: 100%;
        justify-content: space-between;
        margin-right: 2%;
    }
    .introd video {
        width: 100%;
    }
    .content {
        padding: 20px;
    }
    .about {
        flex-direction: column;
        align-items: center;
    }
    .naker {
        flex-direction: column;
    }

    .back,
    .dest {
        width: 100%;
    }

    .who, .carousel {
        width: 100%;
    }

    .carousel img {
        width: 100%;
    }

    .side {
        grid-template-columns: 1fr;
    }

    .mySlides {
        width: 100%;
    }

    .servics {
        flex-direction: column;
        align-items: center;
    }

    .our, .grid {
        width: 100%;
    }

    .grid {
        grid-template-columns: 1fr;
    }
    .booking {
        flex-direction: column;
        align-items: center;
    }

    .form, .active-hours {
        width: 100%;
    }
    .row-contianer {
        grid-template-columns: 1fr;
    }

    .row-item {
        text-align: center;
    }

    .footer-top {
        height: auto;
    }

    .girdrow{
        width: 30%;
    }
}